<h2>Work</h2>

<div class="work-grid">
    <div class="work-grid__vertical-spanner">
        <a href="/work/hilfiger-island" class="work-grid__item js-link-internal">
            <img src="http://images.akamai.steamusercontent.com/ugc/25087975291817161/4B01A1274CA990A3577CC37E1DAA72F88DE353F8/" alt="Hilfiger Island">

            <div class="work-grid__item__overlay">
                <span class="work-grid__item__overlay__title">Hilfiger Island</span>
            </div>
        </a>
        <a href="/work/noisy-may" class="work-grid__item js-link-internal">
            <img src="http://images.akamai.steamusercontent.com/ugc/25087975291817161/4B01A1274CA990A3577CC37E1DAA72F88DE353F8/" alt="Noisy May">

            <div class="work-grid__item__overlay">
                <span class="work-grid__item__overlay__title">Noisy May</span>
            </div>
        </a>
    </div>

    <a href="/work/fashiolista" class="work-grid__item work-grid__portrait js-link-internal">
        <img src="http://images.akamai.steamusercontent.com/ugc/25087975291817161/4B01A1274CA990A3577CC37E1DAA72F88DE353F8/" alt="Fashiolista">

        <div class="work-grid__item__overlay">
            <span class="work-grid__item__overlay__title">Fashiolista</span>
        </div>
    </a>

    <!-- <div href="/work/ima" class="work-grid__item work-grid__landscape">
        <img src="http://images.akamai.steamusercontent.com/ugc/25087975291817161/4B01A1274CA990A3577CC37E1DAA72F88DE353F8/" alt="Influencer Marketing Agency">

        <div class="work-grid__item__overlay">
            <span class="work-grid__item__overlay__title">Influencer Marketing Agency <small>In development</small></span>
        </div>
    </div> -->
</div>
