// Sizing
$fontsize: 1.1vw;
$fontsize_mobile: 1.7vw;

$baseline: $fontsize * 1.5;
$baseline_mobile: $fontsize_mobile * 1.5;

$no-columns: 12;
$column-width: 100vw / $no-columns;

$typeFamily: 'Europa';

$colorMain: #F2F2F2;
$colorAccent: #DE1B1B;
$colorLowVisibility: #757575;